/* You can add global styles to this file, and also import other style files */
@import "css/flexboxgrid/dist/flexboxgrid.min.css";
/*#region COLOURS */
/*#endregion */
/*#region FONTS */
/*#endregion */
.mat-toolbar.mat-primary {
  background: #443931 !important;
}
.mat-h2,
.mat-title,
.mat-typography h2 {
  font-size: 19px;
  color: #635147;
}
.mat-expansion-panel {
  color: #635147;
}
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #f1592a;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #f1592a;
}
body,
form {
  font: 400 14px / 20px Roboto, "Helvetica Neue", sans-serif;
  color: #635147;
}
a {
  color: #635147;
  font-weight: 500;
  transition: color ease-in-out 0.2s;
}
a:hover {
  color: #f1592a;
}
strong {
  font-weight: 500;
}
h1 {
  font-family: Cutive, Courier, 'Courier New', Georgia, serif !important;
  color: #f1592a;
  font-size: 30px;
}
h2 {
  font-family: Cutive, Courier, 'Courier New', Georgia, serif;
  font-size: 25px;
}
label {
  font-weight: 600;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f5f1eb;
}
.page {
  min-height: calc(100vh - 64px - 117px);
  max-width: 1200px;
}
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.alert {
  display: block;
  padding: 10px 20px;
  border-radius: 3px;
}
.alert.info {
  border: 1px solid #275DF1;
  background-color: #e7edfd;
  color: #275DF1;
}
.locationPanels {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 30px;
}
@media (min-width: 720px) {
  .locationPanels {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .locationPanels {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .locationPanels {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.locationPanels .mat-content {
  display: block;
  padding-right: 10px;
  padding-bottom: 10px;
}
.footer {
  border-top: 1px solid #635147;
  padding: 20px 0%;
  margin: 20px 2%;
}
