<div class="page container-fluid" style="margin-top:30px">
    <h1>COVID-19 case locations, listed by suburb or town</h1>
    
    <p>Search Case locations in the below suburbs, towns or postcodes. Click the link to see all Case locations of concern in Greater Sydney or Regional NSW with confirmed cases of Covid-19 in the last 14 days.</p>

<p>the list of exposure locations for Greater Sydney (including the Blue Mountains, Central Coast, Wollongong and Shellharbour) covers the close contact venues that have been assessed by the NSW government as a public health risk.</p>

<p>Case locations and times are listed in the local time zone of the location.</p>


<div  *ngFor="let location of sortBy('locality'); index as i;">
<a href="/nsw/{{location.locality}}">
{{location.locality}} NSW, {{location.postcode}}
</a>
</div>
    </div>